<h2>Login</h2>
<form action="/login" method="post">
    <div>
      <ul>
        <li><a href="/auth/github">Login with Github</a></li>
        <li><a href="/auth/facebook">Login with Facebook</a></li>
      </ul>
    </div>
    <div>
      <label for="email">Email Address:</label>
      <input id="email" type="text" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
</form>
<p>
  <a href="/signup">Create an Account &rarr;</a>
<p>
